########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

[User]
Email={{ gdm.email }}
Language=
Session={{ gdm.desktop_environment }}
XSession={{ gdm.desktop_environment }}
Icon=/var/lib/AccountsService/icons/stooj
SystemAccount=false
