#############################################################################
#  File managed by Salt at <{{ source }}>.
#  Your changes will be overwritten.
#############################################################################

NOTMUCH_CONFIG="$HOME/.config/notmuch/config"

# vim:set et sw=4 ts=4 ft=zsh:
