########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

pinentry-program /usr/bin/pinentry-qt
