########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

[Unit]
Description=Run pullmail on a scheudle

[Timer]
# Don't start the first run until the system has been up for 10 minutes
OnBootSec=10min
# Start the service every five minutes, providing it has finished the previous cycle
OnUnitActiveSec=5min

[Install]
WantedBy=timers.target
