#############################################################################
#  File managed by Salt at <{{ source }}>.
#  Your changes will be overwritten.
#############################################################################

import:
  - /home/stooj/.config/alacritty/gruvbox-dark.yml

font:
  normal:
    family: MesloLGS NF
    style: Regular
  bold:
    family: Fira Code SemiBold
    style: SemiBold
  italic:
    family: Source Code Pro Medium
    style: Italic
  bold_italic:
    family: Source Code Pro SemiBold
    style: SemiBold Italic
  size: 10

# vim:set et sw=2 ts=4 tw=80 ft=yaml:
